<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <!--<link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap-theme.min.css">-->
  </head>
  <body>

    <!-- NAVIGATION BAR -->
    <div class="menu">
      <div class="container">
        <img height=50 src="https://avatars1.githubusercontent.com/u/9057806?v=3&s=200"/>
        <ul class="nav navbar-nav">
          <li><a class="active" id="home" href="#">Home</a></li>
          <li><a id="oscargit" href="https://github.com/django-oscar">Django-Oscar GitHub Page</a></li>
          <li><a id="oscarweb" href="http://oscarcommerce.com/">Django-Oscar Website</a></li>
        </ul>
      </div>
    </div>

    <!-- MAIN HEADING -->
    <div class="main">
      <div class="container">
        <h1>Django-Oscar Pull Requests</h1>
        <h2>Lastest Updates</h2>
      </div>
    </div>

    <!-- TABLE SECTION -->
    <div class="tablesection">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered table-hover tablesorter table-responsive">
              <thead id="tableh">
                  <tr>
                    <th class="header"> Title <i class="icon-sort"></i></th>
                    <th class="header"> Last Updated <i class="icon-sort"></i></th>
                    <th class="header"> Created <i class="icon-sort"></i></th>
                  </tr>
                </thead>

                <tbody>
                  {% for key in data %}
                  <tr>
                      <td>{{ key.t1 }}</td>
                      <td>{{ key.u1 }}</td>
                      <td>{{ key.c1 }}</td>
                  </tr>
                  {% endfor %}
                  {% for key in data %}
                  <tr>
                      <td>{{ key.t2 }}</td>
                      <td>{{ key.u2 }}</td>
                      <td>{{ key.c2 }}</td>
                  </tr>
                  {% endfor %}
                  {% for key in data %}
                  <tr>
                      <td>{{ key.t3 }}</td>
                      <td>{{ key.u3 }}</td>
                      <td>{{ key.c3 }}</td>
                  </tr>
                  {% endfor %}
                  {% for key in data %}
                  <tr>
                      <td>{{ key.t4 }}</td>
                      <td>{{ key.u4 }}</td>
                      <td>{{ key.c4 }}</td>
                  </tr>
                  {% endfor %}
                  {% for key in data %}
                  <tr>
                      <td>{{ key.t5 }}</td>
                      <td>{{ key.u5 }}</td>
                      <td>{{ key.c5 }}</td>
                  </tr>
                  {% endfor %}
                  {% for key in data %}
                  <tr>
                      <td>{{ key.t6 }}</td>
                      <td>{{ key.u6 }}</td>
                      <td>{{ key.c6 }}</td>
                  </tr>
                  {% endfor %}
                  {% for key in data %}
                  <tr>
                      <td>{{ key.t7 }}</td>
                      <td>{{ key.u7 }}</td>
                      <td>{{ key.c7 }}</td>
                  </tr>
                  {% endfor %}
                  {% for key in data %}
                  <tr>
                      <td>{{ key.t8 }}</td>
                      <td>{{ key.u8 }}</td>
                      <td>{{ key.c8 }}</td>
                  </tr>
                  {% endfor %}
                  {% for key in data %}
                  <tr>
                      <td>{{ key.t9 }}</td>
                      <td>{{ key.u9 }}</td>
                      <td>{{ key.c9 }}</td>
                  </tr>
                  {% endfor %}
                  {% for key in data %}
                  <tr>
                      <td>{{ key.t10 }}</td>
                      <td>{{ key.u10 }}</td>
                      <td>{{ key.c10 }}</td>
                  </tr>
                  {% endfor %}
                  {% for key in data %}
                  <tr>
                      <td>{{ key.t11 }}</td>
                      <td>{{ key.u11 }}</td>
                      <td>{{ key.c11 }}</td>
                  </tr>
                  {% endfor %}
                  {% for key in data %}
                  <tr>
                      <td>{{ key.t12 }}</td>
                      <td>{{ key.u12 }}</td>
                      <td>{{ key.c12 }}</td>
                  </tr>
                  {% endfor %}
                  {% for key in data %}
                  <tr>
                      <td>{{ key.t13 }}</td>
                      <td>{{ key.u13 }}</td>
                      <td>{{ key.c13 }}</td>
                  </tr>
                  {% endfor %}
                  {% for key in data %}
                  <tr>
                      <td>{{ key.t14 }}</td>
                      <td>{{ key.u14 }}</td>
                      <td>{{ key.c14 }}</td>
                  </tr>
                  {% endfor %}
                  {% for key in data %}
                  <tr>
                      <td>{{ key.t15 }}</td>
                      <td>{{ key.u15 }}</td>
                      <td>{{ key.c15 }}</td>
                  </tr>
                  {% endfor %}
                  {% for key in data %}
                  <tr>
                      <td>{{ key.t16 }}</td>
                      <td>{{ key.u16 }}</td>
                      <td>{{ key.c16 }}</td>
                  </tr>
                  {% endfor %}
                  {% for key in data %}
                  <tr>
                      <td>{{ key.t17 }}</td>
                      <td>{{ key.u17 }}</td>
                      <td>{{ key.c17 }}</td>
                  </tr>
                  {% endfor %}
                  {% for key in data %}
                  <tr>
                      <td>{{ key.t18 }}</td>
                      <td>{{ key.u18 }}</td>
                      <td>{{ key.c18 }}</td>
                  </tr>
                  {% endfor %}
                  {% for key in data %}
                  <tr>
                      <td>{{ key.t19 }}</td>
                      <td>{{ key.u19 }}</td>
                      <td>{{ key.c19 }}</td>
                  </tr>
                  {% endfor %}
                  {% for key in data %}
                  <tr>
                      <td>{{ key.t20 }}</td>
                      <td>{{ key.u20 }}</td>
                      <td>{{ key.c20 }}</td>
                  </tr>
                  {% endfor %}


                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER SECTION -->
    <div class="footer">
      <div class="container">
        <p id="email"><a href="mailto:colin@macrae.me">Email me</a></p>
        <p id="copyr">&copy Colin MacRae</p>
      </div>
    </div>

  </body>

</html>
